@font-face{
    font-family:'NeueHaasUnica';
    src:url('../assets/fonts/NeueHaasUnica-ExtraLight.woff2') format('woff2');
    font-weight:200;
    font-style:normal;
    font-display:swap;
  }
  @font-face{
    font-family:'NeueHaasUnica';
    src:url('../assets/fonts/NeueHaasUnica-Light.woff2') format('woff2');
    font-weight:300;
    font-style:normal;
    font-display:swap;
  }
  @font-face{
    font-family:'NeueHaasUnica';
    src:url('../assets/fonts/NeueHaasUnica-LightItalic.woff2') format('woff2');
    font-weight:300;
    font-style:italic;
    font-display:swap;
  }